body {
  background: #3a3a3a;
  height: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
}
  
.main-block #mapid { 
  height: 600px; 
  width: 100%;
}
  
.header {
  display: flex;
  background: #3a3a3a;
  color: white;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
  
.header > h1 {
  font-family: 'PT Sans Caption', sans-serif;
}
  
.empty {
  width: 75px;
}
  
.logo {
  height: 75px;
}
  
/* Add an orange background color to the top navigation */
.topnav {
  display: flex;
  background-color: #3a3a3a;
  overflow: hidden;
  justify-content: space-around;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 33%;
  font-family: 'PT Sans Caption', sans-serif;
}
  
/*Add border to buttons*/
.homeButton, .aboutButton, .docButton {
  border: solid #797979;
}
  
/*Remove border from middle button*/
.docButton {
  border-left-style: none;
  border-right-style: none;
}
  
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
  
.main-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #8b8b8b;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
}
  
.block{
  width: 100%;
  float: left;
  background-color: #3a3a3a;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
}

.block > button{
  font-family: 'Roboto', sans-serif;
}
  
#mapid {
  margin-bottom: 0px;
}
  
.block button {
  border-radius: 50px;
}
  
/* mobile screens */
@media only screen and (max-width: 1000px) {
  .header {
    font-size: 300%;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    width: 33%;
  }
    
  .main-block {
    flex-direction: column-reverse;
  }
  
  .logo {
    height: 175px;
  }
  
  .empty {
    width: 0px;
  }
  
  .main-block {
    height: 300%;
  }
  
  .block > h1 {
    font-size: 600%;
  }
  
  .block > p {
    font-size: 300%;
  }
  .block > button {
    padding: 20px;
    font-size: 30px;
    }
  .main-block #mapid { 
    height: 1220px; 
    width: 100%;
  }
}