body {
  background: black;
  height: 100%;
}

.header {
  display: flex;
  background: #a22223;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.empty {
  width: 75px;
}

.logo {
  height: 75px;
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  background-color: #d17c02;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 33%;
}

/*Add border to buttons*/
.homeButton, .aboutButton, .docButton {
  border: solid black 6px;
}

/*Remove border from middle button*/
.homeButton, .aboutButton {
  border-left-style: none;
  border-right-style: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.main-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: black;
  justify-content: center;
  padding: 0px;
  box-sizing: border-box;
}

.block{
  width: 100%;
  padding: 10px;
  background-color: lightgrey;
}

.block >  h1 {
  font-family: 'PT Sans Caption', sans-serif;
}