html, body {
  background: #3a3a3a;
  height: auto;
  color: white;
}

p {
  font-family: 'Roboto', sans-serif;
}
  
.header {
  display: flex;
  background: #3a3a3a;
  color: white;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
  
.header > h1 {
  font-family: 'PT Sans Caption', sans-serif;
}
  
.empty {
  width: 75px;
}
  
.logo {
  height: 75px;
}
  
/* Add an orange background color to the top navigation */
.topnav {
  display: flex;
  background-color: #3a3a3a;
  overflow: hidden;
  justify-content: space-around;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 33%;
}
  
/*Add border to buttons*/
.homeButton, .aboutButton, .docButton {
  border: solid #797979;
}
  
/*Remove border from middle button*/
.docButton {
  border-left-style: none;
  border-right-style: none;
}
  
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
  
.main-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #8b8b8b;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
}
  
.block{
  width: 100%;
  padding: 10px;
  background-color: #3a3a3a;
}
  
.block >  h1 {
  font-family: 'PT Sans Caption', sans-serif;
}

.groupMembers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
  
.member {
  display: flex;
  flex-direction: column;
}
  
.member > img {
  border: solid black;
}
  
.member > p {
  text-align: center;
}
  
@media only screen and (max-width: 1000px) {
  .header {
    font-size: 300%;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    width: 33%;
  }
    
  
  .logo {
    height: 175px;
  }
  
  .empty {
    width: 0px;
  }
  
  .block > h1 {
    font-size: 600%;
  }
  
  .block > p {
    font-size: 300%;
  }
}